*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial;
}
h3	
{
	text-align: center;
	margin-bottom: 30px;
}
.Chicken, .Beef, .Sushi
{
	border: 1px solid black;
	width: 30%;
	float: left;
	margin: 20px;
	padding: 10px;
	background-color: silver;
	clear: right;
}
#s1,#s2,#s3{
	border: 1px solid black;
	height: 30px;
	width:30%;
	float: right;
	margin: 0;
	background-color: orange;
	position: relative;
	top: -10px;
	right: -10px;
	text-align: center;
	clear: left;
	padding-top: 5px;
}
p{
	margin-top: 50px;
 }

@media(min-width: 992px)
{
	.Chicken,.Sushi,.Beef{
		width: 30%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.Chicken,.Beef{

		width: 45%;
	}
	.Sushi{
		
		width: 95%;		
	}	
}
@media (max-width: 767px)
{
	.Chicken,.Sushi,.Beef{
		width: 90%;
	}	
}
